# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Ignore OS metadata
.DS_Store

# Ignore SQLite DB (optional)
*.sqlite3

# Ignore VS Code settings (optional)
.vscode/
